html body{
    background-color: #ffc2cc;
}
.opcion{
    border: 1px solid black;
    min-width: 100px;
    max-width: 280px;
    background-color: #f5aba1;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
.opcion p{
    padding: 0;
    margin: 0;
}
.centerin{
    margin-left:auto;margin-right:auto;
}
.formulario{
    height: 800px;
}